<ion-header>
  <ion-toolbar>
    <ion-title>Table Of Contents</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1>Table of Contents</h1>
  <ion-button expand="block" routerLink="/chapter1" routerDirection="forward">Chapter 1</ion-button>
  <ion-button expand="block" routerLink="/chapter2" routerDirection="forward">Chapter 2</ion-button>
  <ion-button expand="block" routerLink="/chapter3" routerDirection="forward">Chapter 3</ion-button>
  <br>
  <br>
  <ion-button expand="block" routerLink="/chapter1" routerDirection="forward">Next</ion-button>
  <ion-button expand="block" routerLink="/home" routerDirection="back">Previous</ion-button>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <h4>page 1</h4>
  </ion-toolbar>
</ion-footer>